# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
books/node_modules
books/.pnp
.pnp.js

# testing
books/coverage
coverage

# production

books/build
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

books/.vscode
.vscode